*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
ul,li,ol {
    list-style:none;
}
a{
    text-decoration: none;
}
.clr{
    clear: both;
}
/* All common CSS */
.main-bg{
    width: 1366px;
    height: 80px;
    background: rgb(225,253,255);
    background: -moz-linear-gradient(40deg, rgba(225,253,255,1) 0%, rgba(44,238,57,1) 0%, rgba(53,212,186,1) 7%, rgba(174,59,196,1) 29%, rgba(106,132,204,1) 36%, rgba(88,151,206,1) 72%, rgba(193,67,209,1) 87%);
    background: -webkit-linear-gradient(40deg, rgba(225,253,255,1) 0%, rgba(44,238,57,1) 0%, rgba(53,212,186,1) 7%, rgba(174,59,196,1) 29%, rgba(106,132,204,1) 36%, rgba(88,151,206,1) 72%, rgba(193,67,209,1) 87%);
    background: linear-gradient(40deg, rgba(225,253,255,1) 0%, rgba(44,238,57,1) 0%, rgba(53,212,186,1) 7%, rgba(174,59,196,1) 29%, rgba(106,132,204,1) 36%, rgba(88,151,206,1) 72%, rgba(193,67,209,1) 87%);
    filter:;
    progid:DXImageTransform.Microsoft.gradient(startColorstr="#e1fdff",endColorstr="#c143d1",GradientType=1);
    -webkit-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e1fdff",endColorstr="#c143d1",GradientType=1);
}
.main{
    width: 1200px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.logo{
    width: 20%;
    float: left;
}
.logo img {
    margin: 20px 0;

}
.menu-items{
    float: left;
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.menu-items ul{
    margin-left: 85px;
}
.menu-items ul li{
    display: inline-block;
}
.menu-items ul li a {
    color: white;
    line-height: 80px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    margin: 0 15px;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
    position: relative;
    z-index: 1;
}
.menu-items ul li a::after{
    content: '';
    width: 0px;
    height: 3px;
    position: absolute;
    background: #fff;
    top: 50%;
    left: -20px;
    transition: all linear 0.2s;
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
}
.menu-items ul li a:hover::after{
    width: 15px;
}
.menu-items > ul > li > a::before{
    content: '';
    width: 100%;
    height: 0%;
    background: rgba(74, 19, 203, 0.678);
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform:;
    -moz-transform:;
    -ms-transform:;
    -o-transform:;
    z-index: -1;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}
.menu-items ul li a:hover::before{
    height: 100%;
}
.menu-items ul li ul{
    position: absolute;
    background: rgb(225,253,255);
    background: -moz-linear-gradient(40deg, rgba(225,253,255,1) 0%, rgba(44,238,57,1) 0%, rgba(53,212,186,1) 7%, rgba(174,59,196,1) 29%, rgba(106,132,204,1) 36%, rgba(88,151,206,1) 72%, rgba(193,67,209,1) 87%);
    background: -webkit-linear-gradient(40deg, rgba(225,253,255,1) 0%, rgba(44,238,57,1) 0%, rgba(53,212,186,1) 7%, rgba(174,59,196,1) 29%, rgba(106,132,204,1) 36%, rgba(88,151,206,1) 72%, rgba(193,67,209,1) 87%);
    background: linear-gradient(40deg, rgba(225,253,255,1) 0%, rgba(44,238,57,1) 0%, rgba(53,212,186,1) 7%, rgba(174,59,196,1) 29%, rgba(106,132,204,1) 36%, rgba(88,151,206,1) 72%, rgba(193,67,209,1) 87%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e1fdff",endColorstr="#c143d1",GradientType=1); 
    top: 80px;
    left: 490px;
    visibility: hidden;
    opacity: 0;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}
.menu-items ul li:hover ul{
    visibility: visible;
    opacity: 1;
    border-left: 4px solid blueviolet;
}
.menu-items ul li ul li{
    border-bottom: 3px solid transparent;
    display: block;
}
.menu-items ul li ul li:hover{
    background: rgb(131,58,180);
    background: -moz-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#fcb045",GradientType=1); ;
    
    border-bottom: 3px solid white;
}

.menu-items ul li ul li a{
    line-height: 50px;
    display: block;
    margin: 0;
    padding: 0 15px;
}






















.button-course {
    float: right;
    width: 20%;
    }
.button-course button{
    width: 200px;
    transition: all linear 0.8s;
    height: 40px;
    background: rgb(131,58,180);
    background: -moz-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    filter:;
    progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#fcb045",GradientType=1);
    border: 3px solid transparent;
    color: rgb(255, 255, 255);
    padding: 0px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /*Addsashadoweffect*/:;
    -webkit-transition: all linear 0.8s;
    -moz-transition: all linear 0.8s;
    -ms-transition: all linear 0.8s;
    -o-transition: all linear 0.8s;
    position: relative;
}
.button-course button::after{
    content: '';
    width: 0;
    height: 3px;
    background: #fff;
    transition: all linear 0.5s;
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -ms-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    position: absolute;
    bottom: 1px;
    right: 45px;
    left:;
}
.button-course button:hover{
    background: rgb(225,253,255);
    background: -moz-linear-gradient(40deg, rgba(225,253,255,1) 0%, rgba(44,238,57,1) 0%, rgba(53,212,186,1) 7%, rgba(174,59,196,1) 29%, rgba(106,132,204,1) 36%, rgba(88,151,206,1) 72%, rgba(193,67,209,1) 87%);
    background: -webkit-linear-gradient(40deg, rgba(225,253,255,1) 0%, rgba(44,238,57,1) 0%, rgba(53,212,186,1) 7%, rgba(174,59,196,1) 29%, rgba(106,132,204,1) 36%, rgba(88,151,206,1) 72%, rgba(193,67,209,1) 87%);
    background: linear-gradient(40deg, rgba(225,253,255,1) 0%, rgba(44,238,57,1) 0%, rgba(53,212,186,1) 7%, rgba(174,59,196,1) 29%, rgba(106,132,204,1) 36%, rgba(88,151,206,1) 72%, rgba(193,67,209,1) 87%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e1fdff",endColorstr="#c143d1",GradientType=1); 
    color: #fff;
    border: 3px solid white;
}
.button-course button:hover::after{
    width: 100px;
    height: 3px;
}







